<!-- menu.component.html -->

<div class="menu">
  <ul class="menu-list">
    <li class="menu-item"><a class="menu-link" href="#">Menu 1</a></li>
    <li class="menu-item">
      <a class="menu-link" href="#">Menu 2</a>
      <ul class="submenu">
        <li><a href="#">Submenu 1</a></li>
        <li><a href="#">Submenu 2</a></li>
        <li><a href="#">Submenu 3</a></li>
      </ul>
    </li>
    <li class="menu-item"><a class="menu-link" href="#">Menu 3</a></li>
    <li class="menu-item">
      <a class="menu-link" href="#">Menu 4</a>
      <ul class="submenu">
        <li><a href="#">Submenu 1</a></li>
        <li><a href="#">Submenu 2</a></li>
        <li><a href="#">Submenu 3</a></li>
      </ul>
    </li>
  </ul>
</div>
